html, body {
    max-width: 100%;
    overflow-x: hidden;
}

body {
    font-family: 'Merienda', cursive;
}

.nav-item{
    font-size: 19px;
}

.nav-img {
    width: 30px;
    height: 30px;
}

.card {
    border-radius: 4px;
}

.fas {
    color: white;
}

.icofoot{
    float: right;
    color: white;
    margin: 1rem;
}

.p-pseudoclases:hover {
    font-size: 20px;
}

